*
!Dockerfile
!pyproject.toml
!uv.lock
!README.md
!LICENSE
!src/
!src/**
!docker/
!docker/entrypoint.sh
!package.json
!bun.lock
!apps/
!apps/**
!packages/
!packages/**
**/node_modules
**/dist
**/*.tsbuildinfo
